<h1>查詢訂單</h1>
<form (ngSubmit)="onSubmit()" #conditionForm="ngForm">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label>訂單編號</label>
                <input type="number" class="form-control" id="orderId" name="orderId" [(ngModel)]="model.orderId">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>客戶名稱</label>
                <input type="text" class="form-control" id="CustName" name="CustName" [(ngModel)]="model.custName">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>負責員工</label>
                <select class="form-control" id="empName" [(ngModel)]="model.empID" name="empID">
                   <option *ngFor="let employee of employeeList" [value]="employee.empid">{{employee.firstname +' '+ employee.lastname}}</option>
                </select>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label>出貨公司</label>
                <select class="form-control" id="shipperID" [(ngModel)]="model.shipperID" name="shipperID">
                   <option *ngFor="let shipper of shipperList" [value]="shipper.shipperid">{{shipper.companyname}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>訂單日期</label>
                <input type="date" class="form-control" id="orderDate" name="orderDate" [(ngModel)]="model.orderDate">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>出貨日期</label>
                <input type="date" class="form-control" name="shipperDate" [(ngModel)]="model.shipperDate" #shipperDate="ngModel">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!conditionForm.form.valid">查詢訂單</button>



</form>