<div style='margin-left: 100px;margin-right: 100px;'>
    <table class="table table-striped" BORDER=2 ALIGN="center" WIDTH="80%">
        <tr>
            <th>訂單編號</th>
            <th>公司名稱</th>
            <th>訂單日期</th>
            <th>出貨日期</th>
            <th>　　　　</th>
            <th>　　　　</th>
        </tr>
        <tr *ngFor="let item of searchResult">
            <td>{{item.OrderID}}</td>
            <td>{{item.CompanyName}}</td>
            <td>{{item.OrderDate}}</td>
            <td>{{item.ShippedDate}}</td>
            <td align="center">
                <button type="button" [routerLink]="['/orderDetail',item.OrderID]" class="btn btn-primary">修改</button>
            </td>
            <td align="center">
                <button type="button" class="btn btn-danger" (click)="deleteOrder(item.OrderID)">刪除</button>
            </td>
        </tr>
    </table>
</div>