<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="Home" routerLinkActive="active">Angular2</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">訂單處理
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a routerLink="Order" routerLinkActive="active">查詢訂單</a></li>
                    <li><a routerLink="orderCreate" routerLinkActive="active">新增訂單</a></li>
                </ul>
            </li>
            <li><a routerLink="Order" routerLinkActive="active">客戶處理</a></li>
        </ul>
    </div>
</nav>
<loading></loading>
<dialog></dialog>
<router-outlet></router-outlet>