<!--Small modal-->
<button type="button" class="btn btn-primary" (click)="smModal.show()">Small modal</button>

<div bsModal #dialogView ="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{title}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="dialogView.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                {{message}}}
            </div>
        </div>
    </div>
</div>