<div class="modal fade" bsModal #loadingView="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-mid">資料載入中...</h4>
            </div>
            <div class="modal-body">
                <md-progress-bar mode="indeterminate"></md-progress-bar>
            </div>
        </div>
    </div>
    </div>